<nav class="navbar navbar-expand-lg fixed-top">
    <div class="container-fluid">
        <div class="logo">
            <img src="/assets/img/logo_new.png" />
        </div>
        <div style="margin: 1rem 0 0 2rem;">
            <h2>SmartAir UI</h2>
        </div>
        <div class="navbar-wrapper">
            <a class="navbar-brand" href="javascript:void(0)"></a>
        </div>
        <button mat-raised-button class="navbar-toggler" type="button" (click)="sidebarToggle()">
            <span class="sr-only">Toggle navigation</span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
            <span class="navbar-toggler-icon icon-bar"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navigation">
            <img class="language3" (click)="changeToFrench()" />
            <img class="language1" (click)="changeToEnglish()" />
            <img class="language2" (click)="changeToRomanian()" />
            <ul class="navbar-nav">
            </ul>
        </div>
    </div>
</nav>